<div class="main">
  <div class="container">
    <div class="user__wrapper">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a href="#profile" class="nav-link active" data-bs-toggle="tab">プロフィール</a>
        </li>
        <li class="nav-item">
          <a href="#list100" class="nav-link" data-bs-toggle="tab">リスト100</a>
        </li>
        <li class="nav-item">
          <a href="#items" class="nav-link" data-bs-toggle="tab">好きなこと一覧</a>
        </li>
      </ul>

      <%# ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ %>

      <div class="tab-content mt-4">
        <div id="profile" class="tab-pane active">
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-md-6 d-lg-block">
                  <div class="row">
                    <p></p>
                    <p></p>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                      <img src=<%= @user.image %> class = "icon_image">
                    </div>
                    <h2 class="text-center">Heading</h2>
                    <p class="text-center">This is the first column.</p>
                    <div class="col-sm-4">
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6 p-5 d-flex flex-column position-static">
                  <div class="user__page">

                    <h2 class="page-heading">
                      <%= "#{@user.nickname}さんの情報" %>
                    </h2>

                    <% if current_user == @user%>
                      <div class="user__manage">
                        <%= link_to "編集・削除", edit_user_registration_path(@user), class: :favorite_thing__btn %>
                      </div>
                    <% end %>
                  </div>
                  
                  <table class="table">
                    <tbody>
                      <tr>
                        <th class="table__col1">名前</th>
                        <td class="table__col2"><%= @user.nickname %></td>
                      </tr>
                      <tr>
                        <th class="table__col1">プロフィール</th>
                        <td class="table__col2"><%= @user.profile %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

                    <%= pie_chart @favorite_things.group(:type_id).count,colors: ["#F8C6BD","#BEDFC2","#FFFBC7"] %>

                    <%# <% @favorite_things.each do |favorite_thing| %>
                      <%# <%= favorite_thing.type.name  %>
                    <%# <% end %>

                    <%# <%= @type_ids %>

        </div>

        <%# ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ %>

        <div id="list100" class="tab-pane">
          <h2 class="page-heading">
            <%= "#{@user.nickname}さんの好きなことリスト100"%>
          </h2>

          <div class="user__list">
            <% @titles.each_with_index do |title, i| %>
              <table class="list">
                <tbody>
                  <tr>
                    <td class="list__col1"><%= i+1 %></td>
                    <td class="list__col2"><%= title %></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>

        <%# ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ %>

        <div id="items" class="tab-pane">
          <h2 class="page-heading">
            <%= "#{@user.nickname}さんの好きなこと一覧"%>
          </h2>

          <div class='favorite-thing-lists'>
            <%= render partial: 'favorite_things/favorite_thing', collection: @user.favorite_things %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>