<div class="main">
  <div class="container">
    <div class="user__wrapper">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a href="#profile" class="nav-link active" data-bs-toggle="tab">プロフィール</a>
        </li>
        <li class="nav-item">
          <a href="#list100" class="nav-link" data-bs-toggle="tab">リスト100</a>
        </li>
        <li class="nav-item">
          <a href="#items" class="nav-link" data-bs-toggle="tab">好きなこと一覧</a>
        </li>
      </ul>

      <%# ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ %>

      <div class="tab-content mt-4">
        <div id="profile" class="tab-pane active">
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-md-6 d-lg-block">
                  <div class="row">
                    <p></p>
                    <p></p>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                      <% if @user.image? %>
                        <img src=<%= @user.image %> class = "icon_image">
                      <% else %>
                        <img src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
                      <% end %>
                    </div>
                    <h2 class="text-center"><%= @user.nickname %></h2>
                    <p class="text-center">This is the profile image.</p>
                    <div class="col-sm-4">
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6 p-5 d-flex flex-column position-static">
                  <div class="user__page">

                    <h2 class="page-heading">
                      <%= "#{@user.nickname}さんの情報" %>
                    </h2>

                    <% if current_user == @user%>
                      <div class="user__manage">
                        <%= link_to "編集・削除", edit_user_registration_path(@user), class: :favorite_thing__btn %>
                      </div>
                    <% end %>
                  </div>
                  
                  <table class="table">
                    <tbody>
                      <tr>
                        <th class="table__col1">名前</th>
                        <td class="table__col2"><%= @user.nickname %></td>
                      </tr>
                      <tr>
                        <th class="table__col1">プロフィール</th>
                        <td class="table__col2"><%= @user.profile %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-12">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-md-6 d-lg-block p-5">
                  <%= pie_chart @favorite_things.group(:type_id).count,colors: ["#F8C6BD","#BEDFC2","#FFFBC7"] %>
                </div>
              
                <div class="col-md-6 d-lg-block p-5 ">
                  <% if @type_num == 1 %>
                    <h4>【1】「 T（Thinking・思考タイプ）」</h4>
                    <h5>「問題を解く、計算をするなど」が多いあなたは、</h5>
                    <div>研究職やコンサルタントに向いています！</div>
                  <% elsif @type_num == 2 %>
                    <h4>【2】「 C（Communication・コミュニケーションタイプ）」</h4>
                    <h5>「人と会う、人と話すなど」が多いあなたは、</h5>
                    <div>営業職や接客業に向いています！</div>
                  <% elsif @type_num == 3 %>
                    <h4>【3】「 L（Leadership・リーダータイプ）」</h4>
                    <h5>「自分で物事を決める、人の世話をするなど」が多いあなたは、</h5>
                    <div>経営者や管理職に向いています！</div>
                  <% else %>
                    <div>No data</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>

        <%# ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ %>

        <div id="list100" class="tab-pane">
          <h2 class="page-heading">
            <%= "#{@user.nickname}さんの好きなことリスト100"%>
          </h2>

          <div class="user__list">
            <% @favorite_things.each_with_index do |favorite_thing, i| %>
              <table class="list">
                <tbody>
                  <tr>
                    <td class="list__col1"><%= i+1 %></td>
                    <td class="list__col2"><%= link_to favorite_thing.title, favorite_thing_path(favorite_thing), class: :lists__title%></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>

        <%# ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ %>

        <div id="items" class="tab-pane">
          <h2 class="page-heading">
            <%= "#{@user.nickname}さんの好きなこと一覧"%>
          </h2>

          <div class='favorite-thing-lists'>
            <%= render partial: 'favorite_things/favorite_thing', collection: @user.favorite_things %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>